
.game-container{
    margin:auto;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    flex-wrap: wrap;

}
img{
    position:absolute;
    object-fit: cover;
}
.easy-size{
    width: 155px;
    height:210px;
}
.med-size{
    width:110px;
    height: 160px;
}
.hard-size{
    width:90px;
    height:140px;
}

.card-easy{
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: white;
    width: 155px;
    height:230px;
    margin-top:10px;
    margin-right: 10px;
    border-radius: 5px;
    border: solid gray 1px;
}
.card-easy:hover{
    cursor:pointer;
}
.card-med{
    display: flex;
    justify-content: center;
    align-items:center;
    background: white;
    width:110px;
    height:160px;
    border-radius: 5px;
    margin-right: 10px;
    border: solid gray 1px;
}
.card-med:hover{
    cursor:pointer;
}
.card-hard{
    display: flex;
    justify-content: center;
    align-items:center;
    background: white;
    width:90px;
    height:140px;
    border-radius: 5px;
    margin-right: 5px;
    border: solid gray 1px;
}
.card-hard:hover{
    cursor: pointer;
}
.number-font{
    color: red;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
}
.popup-header{
    opacity: 2s;
    transition: opacity 2s;
}
.options-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:300px;
    height:500px;
    border-radius: 10px;
    background-color: lightcoral;
    margin-left: 30%;
}

h1{
    color:white;
    font-size: 80px;

}
.button{
    margin-top: 5px;
}
.button-container{
    display: flex;
    justify-content: space-around;
    height:40px;
    width:250px;
}
.highscore-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height:500px;
    border-radius: 10px;
    background-color: lightcoral;
    margin-left: 30%;
    }


#picks{
    color: white;
    margin-bottom: 50px;
}
h4{
    color:white;
}
#submit{
    margin-top: 20px;
}

#submit, #new-game {
    margin-bottom:5px;
}
.highscores{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    height:500px;
    border-radius: 10px;
    background-color: lightcoral;
    margin-left: 30%;
    color: white;
    }
    #new-game2{
        position: fixed;
        top: 450px;
    }
    #highscore-header{
        position: fixed;
        top: 0;
    }